<form (ngSubmit)="onSubmit()" [formGroup]="uploadForm">
  <label for="fileUpload">Upload Chat log</label>
  <input #file="" id="fileUpload" type="file" formControlName="file" (change)="fileChanged($event)">
  <button type="submit" [disabled]="!uploadForm.valid" >Upload</button>
</form>

<div>
 <h1>Data Filtering</h1>
 <select name="Date" id="date" (change)="changeSession($event)">
  <option 
    *ngFor="let date of dates" 
    [value]="date"
    >{{date}}</option>
 </select>
</div>

<table *ngIf="sessions.length > 0">
  <thead>
    <th>Name</th>
    <th>Occurences</th>
    <th>DamageDealt</th>
    <th>DamageReceived</th>
    <th>HealingReceived</th>
    <th>HealingDealt</th>
  </thead>
  <tbody>
    <tr *ngFor="let character of activeSession.characters">
      <td>{{character.name}}</td>
      <td>{{character.occurances}}</td>
      <td>{{character.totalDamageDealt}} </td>
      <td>{{character.totalDamageReceived}} </td>
      <td>{{character.totalHealingReceived}} </td>
      <td>{{character.totalHealingDealt}} </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
